html, body {
    margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    background-color: #EBEBEE;
    font-family: 'Roboto';
}
/* Navigation Bar */
.nav {
    background-color: #031D45;
    padding: 0.5% 2% 0.5% 1%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.nav a {
    color: #EBEBEE;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}
.logo-container {
    flex-grow: 0;
}
#nav-logo {
    max-width: 12vw;
}
.nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}
.nav-link {
    margin-right: 5vw;
    transition: transform .2s;
}
.nav-link:hover{
    transform: scale(1.2);
    font-weight: 500;
}
.nav-name {
    color: #EBEBEE;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
    align-self: center;
    display: flex;
    margin-right: 15%;
}
/* General Container */
.container {
	padding: 0;
	width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* Index */
.index {
    background-image: url(../img/bg-index.png);
    height: inherit;
    width: inherit;
}
.index-cont {
    position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #EBEBEE;
    height: inherit;
    width: inherit;
}
.index-box {
    width: 25vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-box a {
    color: #dadb86;
}
.index-box a:hover {
    color:#e7e991;
}
.index-text {
    font-weight: 500;
    align-self: flex-start;
}
/* Index logo size */
.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#soitlogo {
    max-width: 8%;
    height: auto;
}
#soit {
    max-width: 20%;
    height: auto;
}
#igradebook {
    max-width: 25%;
    height: auto;
}
.select select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #1b1b1b;
    background-color: #EBEBEE;
    background-image: none;
    cursor: pointer;
    font-size: 1em;
}
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
}
  /* Custom Select wrapper */
.select-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}
.select:hover::after {
    color: #031D45;
}
#index-submit {
    background-color: #34495e;
    border: none;
    color: #EBEBEE;
    padding: 1em 3em 1em 3em;
    font-size: 1em;
    border-radius: 2%;
}
#index-submit:hover {
    cursor: pointer;
    background-color: #04347c;
}
/* Table display */
.students-table th,td {
    border: 1px solid;
}
.students-table {
    border-collapse: collapse;
    margin: 5vh 10vw 2vh 10vw;
    text-align: center;
    table-layout: fixed;
    box-shadow: 0px 0px 10px #858585;
}
input[type=number] {
    width: 4em;
}
textarea {
    resize: none;
}