html, body {
    margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    background-color: #EBEBEE;
    font-family: 'Roboto';
}
/* Navigation Bar */
.nav {
    background-color: #031D45;
    padding: 0.5% 2% 0.5% 1%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.nav a {
    color: #EBEBEE;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}
.logo-container {
    flex-grow: 0;
}
#nav-logo {
    max-width: 12vw;
}
.nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}
.nav-link {
    margin-right: 5vw;
    transition: transform .2s;
}
.nav-link:hover{
    transform: scale(1.2);
    font-weight: 500;
}
.logout-link {
    right: 4%;
    position: absolute;
    transform: transform .5s;
}
.logout-link:hover {
    transform: scale(1.2);
    font-weight: 500;
}
.nav-name {
    color: #EBEBEE;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
    align-self: center;
    display: flex;
    margin-right: 15%;
}
/* General Container */
.container {
	padding: 0;
	width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* Index */
.index {
    background-image: url(../img/bg-index.png);
    height: inherit;
    width: inherit;
    background-size: cover;
}
.index-cont {
    position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #EBEBEE;
    height: inherit;
    width: inherit;
}
.index-box {
    width: 25%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-text {
    font-weight: 500;
    align-self: flex-start;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
/* Index logo size */
.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#soitlogo {
    max-width: 8%;
    height: auto;
}
#soit {
    max-width: 20%;
    height: auto;
}
#igradebook {
    max-width: 25%;
    height: auto;
}
.select select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #1b1b1b;
    background-color: #EBEBEE;
    background-image: none;
    cursor: pointer;
    font-size: 1em;
}
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
}
  /* Custom Select wrapper */
.select-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}
.select:hover::after {
    color: #031D45;
}
/* Select course submit btn */
#index-submit {
    background-color: #34495e;
    border: none;
    color: #EBEBEE;
    padding: 1em 3em 1em 3em;
    font-size: 1em;
    border-radius: 2%;
}
#index-submit:hover {
    cursor: pointer;
    background-color: #04347c;
}
/* New course button */
#newcourse-btn {
    border: none;
    outline: none;
    text-decoration: underline;
    background-color: #031d4500;
    font-size: 1em;
    color: antiquewhite;
    letter-spacing: 0.05em;
}
#newcourse-btn:hover {
    cursor: pointer;
    font-weight: 550;
}
/* New course overlay */
#overlay {
    position: fixed;
    display: none;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1b1b4b;
    z-index: 2;
}
#close-btn {
    position: fixed;
    right: 5%;
    font-size: 1.5em;
    border: black;
    border-radius: 100%;
    cursor: pointer;
}
#newcourse-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #EBEBEE;
    width: 25%;
    height: 51%;
    color: #1b1b1b;
    padding: 10 20 5;
    border-radius: 3%;
    text-align: start;
}
#newcourse-form p {
    margin: -3% 1% 5%;
}
#newcourse-form fieldset{
    position: relative;
}
#newcourse-form legend {
    font-weight: 600;
    letter-spacing: 0.12em;
}
#newcourse-form label {
    font-weight: 500;
}
#newcourse-form input[type=text] {
    float: right;
    width: 75%;
    font-size: 0.9em;
}
/* Save and cancel button */
.index-form-btns {
    float: right;
}
.index-form-btns input[type=submit] {
    background-color: #2ea14a;
    border: none;
    color: #EBEBEE;
    padding: 0.8vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5%;
    letter-spacing: 0.05em;
}
#cancel-btn {
    background-color: #858585;
    color: #EBEBEE;
    padding: 0.8vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5%;
    letter-spacing: 0.05em;
    margin: 0 0.5vw 0 0;
    border:none;
}
.index-form-btns input[type=submit], #cancel-btn {
    cursor: pointer;
}
/* Table display */
.students-table th,td {
    border: 1px solid;
}
.students-table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    box-shadow: 0px 0px 10px #858585;
    width: 80%;
    margin: 2vh auto 5vh auto;
}
input[type=number] {
    width: 4em;
}
textarea {
    resize: none;
}
#editcourse-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: #EBEBEE;
    height: 48.5vh;
    width: 30vw;
    padding: 1vh 2vw 0vh;
    border-radius: 2%;
}